<section class="main-header">
  <img src="/images/instagram05.png">
</section>

<section class="row about">
  <h1>About InstagramClone</h1>
  <p>
    InstagramCloneは、日常の出来事を写真と共に共有できるアプリです。<br>
    言葉ではなく写真だからこそ伝わるものがあると思います。
  </p>
</section>
