<section class="main-header">
  <img src="/images/turezure_vercher.png">
</section>

<section class="row about">
  <h1>About InstagramClone</h1>
  <p>
    InstagramCloneは、日常の出来事を写真と共に共有できるアプリです。<br>
    言葉ではなく写真だからこそ伝わるものがあると思います。
  </p>
</section>
<section class="function">
  <h1>Function</h1>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <img src="/images/key.png">
      <p>ログイン機能</p>
      <p class="incomplete">実装済み</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <img src="/images/mails.png">
      <p>メール送信機能</p>
      <p class="incomplete">実装済み</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <img src="/images/comment.png">
      <p>投稿お気に入り機能</p>
      <p class="incomplete">実装済み</p>
    </div>
  </div>
</section>
