.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("/images/sakura01.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
}

.about {
  background-color: white;
  color: #333;
  padding: 80px;
  margin-bottom: 100px;
}

.function {
  background-color: #e9e9e9;
  padding: 80px;
  padding-bottom: 185px;
}

.function h1{
  padding-bottom: 40px;
}

.incomplete {
  border: solid 3px #2c3e50;
}
