.user_infomation{
  text-align: left;
}

.user_infomation_image{
  text-align: left;
}

.index_favorite_blog, .index_favorite_blog{
  font-size: 20px;
  padding: 5px;
  border: solid 3px #2c3e50;
}

.index_favorite_blog_user_name,
.index_favorite_blog_title, .index_favorite_blog_content{
  font-size: 20px;
  padding: 5px;
}

.new_icon{
  padding-top: 5px;
  padding-bottom: 5px;
}

.new_icon_lable{
  display: block;
}

.new_icon_image{
  display: inline-block;
  padding-left: 6rem;
  margin-left: auto;
  margin-right: auto;
}
